@model AppProjetSessionDB.Models.RendezVou

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RendezVou</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRendezVous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRendezVous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commentaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Justification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Justification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatutPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatutPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentairePhotos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentairePhotos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propriete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propriete.Adresse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RendezVousId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
