@model AppProjetSessionDB.Models.DTO.RendezVousDTO

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post" asp-action="Index" >
    <div class="d-flex container">
        <input asp-for="dateDebut" class="form-control w-25"  type="date"  name="dateDebut"
               value="2021-05-22"
           >

        <input asp-for="dateFin" class="form-control  w-25 mx-4" type="date" name="dateFin"
             value="2021-05-28"
             >
  

        <select asp-for="PhotographeId" class="form-control  w-25">


            <option>Sélectionnez un photographe</option>

            @foreach (var p in Model.photographes)
            {
                <option value="@p.PhotographeId">@p.Nom</option>

            }

            @Html.HiddenFor(x => x.listeRendezVous)

            @for (int i = 0; i < Model.photographes.Count; i++)
            {
                @Html.HiddenFor(x => x.photographes[i].Nom);

                @Html.HiddenFor(x => x.photographes[i].PhotographeId);


            }












        </select>

        <button type="submit" class="btn btn-info ml-5">Rechercher     </button>
    </div>
</form>


<table class="table mt-4">

    @if (Model.listeRendezVous!=null)
    {

    
    <thead>

        <tr>
            @foreach (var r in Model.listeRendezVous)
            {
                <th>
                    @Html.DisplayName(nameof(r.RendezVousId))

                </th>
                <th>
                    @Html.DisplayName(nameof(r.DateRendezVous))

                </th>
                <th>
                    @Html.DisplayName(nameof(r.Commentaire))

                </th>
                <th>
                    @Html.DisplayName(nameof(r.ProprieteId))

                </th>
                <th>
                    @Html.DisplayName(nameof(r.HeureDebut))

                </th>
                <th>
                    @Html.DisplayName(nameof(r.Justification))

                </th>
                <th>
                    @Html.DisplayName(nameof(r.StatutPhoto))

                </th>
                <th>
                    @Html.DisplayName(nameof(r.CommentairePhotos))

                </th>

            }

        </tr>


    </thead>

    <tbody>
        @foreach (var r in Model.listeRendezVous)
        {
        <tr>
            
            <td>
                @r.RendezVousId.ToString()
            </td>
            <td>
               @r.DateRendezVous.ToString()
            </td>
            <td>
                @if (@r.Commentaire == null || @r.Commentaire == "")
                {
                    <p>NULL</p>
                }
                @r.Commentaire
            </td>
            <td>
                @r.ProprieteId.ToString()
            </td>
            <td>
                @r.HeureDebut.ToString()
            </td>
            <td>
                @if (@r.Justification == null || @r.Justification == "")
                {
                    <p>NULL</p>
                }
                @r.Justification
            </td>
            <td>
                @if (@r.StatutPhoto == null || @r.StatutPhoto == "")
                {
                    <p>NULL</p>
                }
                @r.StatutPhoto
            </td>
            <td>
                @if (@r.CommentairePhotos == null || @r.CommentairePhotos == "")
                {
                    <p>NULL</p>
                }
                @r.CommentairePhotos
            </td>
        </tr>

        }

    </tbody>
    }
    

</table>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateRendezVous)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Justification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatutPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentairePhotos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propriete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateRendezVous)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Justification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatutPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentairePhotos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propriete.Adresse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RendezVousId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RendezVousId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RendezVousId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
