@model IEnumerable<AppProjetSessionDB.Models.Disponibilite>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateDisponibilite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photographe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RendezVous)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateDisponibilite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photographe.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendezVous.RendezVousId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DisponibiliteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DisponibiliteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DisponibiliteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
